<html lang="en">
<head>
  <title>Personal Portfolio</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {%  include 'includes/stylesheets.html' %}
  <style>
      #header{
        margin:0;
        height: 75vh;
        background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url({{ about.cover.url }});
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
      }
      .bg-dark {
        background: transparent !important;
        transition: 1.5s ease;
      }
      .bg-dark.scrolled {
        background: rgb(140,160,255) !important;
      }
    </style>
</head>
<body>
  {% block content %}
  {% endblock %}
  {%  include 'includes/scripts.html' %}
</body>
</html>
