{% extends 'base.html' %}

{% load static %}
{% block content %}

<!--- navbar --------------------------------->
<nav id="nav-bar"class="navbar navbar-expand-lg navbar-dark navbar-default bg-dark fixed-top">
  <a class="navbar-brand" href="#">CV</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">HOME</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">ABOUT ME</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">PORTFOLIO</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link " href="#">SKILLS</a>
      </li>
    </ul>
  </div>
</nav>


<!--- header section ----------------------------------->
<section id="header">


  <div class="container text-center">
    <div class="user-box">
      <img class="pulsate" src="{{ about.photo.url }}" alt="profile picture">
      <h2>Zvonimir Vlah</h2>
      <h5>PYTHON DEVELOPER</h5>
      <a class="btn smooth-scroll mr-2" href="mailto:vlahzvonimir92@gmail.com">Hire Me</a>
      <a class="btn smooth-scroll mr-2" href="#" >Portfolio</a>

    </div>
  </div>
  <div class="scroll-btn">
    <div class="scroll-bar">
      <a href="#"><span> </span></a>
    </div>

  </div>
</section>

<!---icon boxes------------->
<div class="container">
  <div class="button-container">
    <a class="btn btn-round btn-lg btn-icon" href="https://github.com/zvone92" rel="tooltip" title="Follow me on Facebook">
      <i class="fa fa-github"></i>
    </a>
    <a class="btn btn-default btn-round btn-lg btn-icon" href="#" rel="tooltip" title="Follow me on Twitter">
      <i class="fa fa-twitter"></i>
    </a>
    <a class="btn btn-default btn-round btn-lg btn-icon" href="https://www.instagram.com/zvone_vlah" rel="tooltip" title="Follow me on Instagram">
      <i class="fa fa-instagram"></i>
    </a>
  </div>
</div>

<!--- about section --------------------------------->

<section id="about" class="come-in">
  <div class="container">
    <div class="card" >
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="card-body">
            <div class="h4 mt-0 title">Who am i?</div>

            <p>{{about.short_description}}<br>
              Python developer</p>
              <p>
                {{about.detailed_description}}
              </p>
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title">Basic Information</div>
              <div class="row">
                <div class="col-sm-4"><strong class="text-uppercase">Age:</strong></div>
                <div class="col-sm-8">28</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4"><strong class="text-uppercase">Email:</strong></div>
                <div class="col-sm-8">vlahzvonimir92@gmail.com</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4"><strong class="text-uppercase">Phone:</strong></div>
                <div class="col-sm-8">+385 95 557 0340</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4"><strong class="text-uppercase">Address:</strong></div>
                <div class="col-sm-8">Obala kneza Branimira, 25 23000 Zadar</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4"><strong class="text-uppercase">Language:</strong></div>
                <div class="col-sm-8">English</div>
              </div>
            </div>
          </div>
        </section>

        <section id="user-info">

        <!--- skills section --------------------------------->
        <div class="skill-box">
          <div class="h4 text-center mb-4 title">My Skills</div>
          <div class="container">
            <div class="row">
              {% for skill in skills %}
              <div class="col-md-3">
                <div class="card-counter">
                  <i class="{% cycle 'fa fa-window-restore' 'fa fa-code-fork' 'fa fa-database' 'fa fa-server' %}"></i>
                  <h5 class="skill-name">{{ skill.name }}</h5>
                  <span class="count-name">{{ skill.technologies|linebreaks  }}</span>
                </div>
              </div>
             {% endfor %}
            </div>
          </div>
        </div>

        <!--- portfolio section --------------------------------->
        <div class="portfolio-box">
          <div class="h4 text-center mb-4 title">Portfolio</div>
          <div class="album py-5 bg-light">
            <div class="container">

              <div class="row">
                <!--Portfolio Projects ...-->
                {% for project in projects %}
                <div class="col-md-6">
                  <div class="card mb-4 shadow-sm">
                    <img class="bd-placeholder-img card-img-top" src='{{project.image.url}}' />
                    <div class="card-body">
                      <hr>
                      <h5 class="card-title">{{project.name}}</h5>
                      <p class="card-text">{{project.description}}</p>
                      <a href="{{project.github_url}}" class="btn btn-primary">github</a>
                      <a href="#" class="btn btn-primary">Demo</a>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>

        <!--- contact section --------------------------------->
        <div class="contact" id="contact">
          <div class="container text-center">
            <h1>Contact Me</h1>
            <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
              ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
              ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <div class="row">
              <div class="col-md-4">
                <i class="fa fa-phone"></i>
                <p>0955770340</p>
              </div>
              <div class="col-md-4">
                <i class="fa fa-envelope"></i>
                <p>vlahzvonimir92@gmail.com</p>
              </div>
              <div class="col-md-4">
                <i class="fa fa-internet-explorer"></i>
                <p>www.zvonimirvlah.com</p>
              </div>
            </div>
          </div>
          <div class="footer text-center">
            <p>Made with <i class="fa fa-heart-o"></i></p>
          </div>
        </div>
      </section>

{% endblock %}
